/cpp/dep
/cpp/build
/node/build
/cpp/lib
/node/node_modules
cpp/clk
LICENSE.out
.DS_Store
.DS_Store
cpp/flowers_copy.bmp
cpp/flowers_copy.png
cpp/flowers_translated.bmp
cpp/flowers_translated.png
cpp/flowers.bmp
cpp/flowers.png
LICENSE.test_merge.copy
LICENSE.test_read_write.copy
node/package-lock.json
